/* PALETTE COULEUR */
:root{
    --bg-dark-1: #0B1C1D;
    --bg-dark-2: #1A3A3C;
    --glass: rgba(15, 50, 50, 0.25);
    --glass-border: rgba(216, 154, 82, 0.25);

    --gold: #D89A52;
    --text1: #F8F5F2;
    --text2: #D7D5D1;
}

/* THEME GLOBAL */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Cormorant Garamond", serif;
    background: linear-gradient(135deg, var(--bg-dark-1), var(--bg-dark-2));
    color: var(--text1);
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

/* BARRE DE NAVIGATION */
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 20px;
    backdrop-filter: blur(12px);
    background: rgba(5, 20, 20, 0.5);

    border-bottom: 1px solid rgba(216, 154, 82, 0.25);
    z-index: 1000;
}

.nav nav{
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--text1);
    font-size: 24px;
    letter-spacing: 0.5px;
}
.lienNav{
    position: relative;
    padding: 3px 0;
}

.lienNav::after,
.lienNav::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: var(--gold);
    transition: 0.4s;
    left: 0;
}

.lienNav::before{
    bottom: -3px;
}

.lienNav::after{
    top: -3px;
}

.lienNav:hover::after,
.lienNav:hover::before{
    width: 100%;
}

main{
    padding-top: 100px;
}

section{
    background: var(--glass);
    border: 1px solid var(--glass-border);
    border-radius: 20px;
    padding: 30px;
    margin: 20px 10px 35px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: var(--gold);
    letter-spacing: 1px;
}

p{
    text-align: center;
}

#sectionPre{
    max-width: 800px;
    margin: auto;
}

#presentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 140px 100px;
}

#titrePre{
    grid-column: 1/3;
    margin: auto;
}

#preP1{
    grid-column: 1/2;
    margin: auto;
}

#preP2{
    grid-column: 1/2;
    margin: auto;
}

#preP3{
    grid-column: 1/2;
    margin: auto;
}

#img1{
    grid-column: 2/3;
    max-width: 80px;
    margin: auto;
}

#img2{
    grid-column: 2/3;
    max-width: 100px;
    margin: auto;
}

#img3{
    grid-column: 2/3;
    max-width: 80px;
    margin: auto;
}

#sectionTuto{
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}

/* THEME CATALOGUE */
.fixedCatalog{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.catalogue{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    max-width: 1100px;     
}
.movieCard{
  background-color: rgba(17, 17, 17, 1);
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: auto;
}

.movieCard img{
  width: 100%;
  border-radius: 6px;
}

/* THEME CATEGORIE */
.category{
  display: inline-block;
  margin-top: 5px;
  padding: 3px 8px;
  background: #444;
  border-radius: 5px;
  font-size: 12px;
}

.category:hover{
    cursor: pointer;
}

/* THEME MATCH */
.hidden{
    display: none;
}

.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn{
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: .2s;
}

.btn-like{ 
    background: #4CAF50; color: white; 
}

.btn-dislike{ 
    background: #E74C3C; color: white; 
}

.match-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.match-card{
    background-color: rgba(17, 17, 17, 1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.match-card img{
    width: 100%;
    border-radius: 6px;
}

#userBanner{
    text-align: center;
}

#movieContainer{
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    margin-top: 20px;
}

.movieCard{
    max-width: 280px;  
}

.toast{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    opacity: 0;
    transition: all .5s ease;
    z-index: 9999;
}
.toast.show{
    top: 50%;
    opacity: 1;
    max-width: 280px;
    width: 100%;
    text-align: center;
    background-color: rgba(85, 60, 32, 0.95);
}

.loading{
    opacity: 0;
    transition: opacity .3s ease;
}

.movieCard{
    transition: opacity .3s ease;
}